:root {
  /* colors */
  --white: #f8f8f8;
  --red: #EF3C3C;
  --black: #333333;

  /* typos */
  --main-font: Italiana;
  --second-font: Agdasima;
}

/* --- Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- all --- */
html,
body {
  background-color: var(--white);
  scrollbar-color: var(--red) var(--white);
  scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 5px;
}
/* ----- Hero Section ----- */
#hero {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../img/hero-background.webp");
  background-size: 100vw 100vh;
  text-align: center;
}
/* --- Words --- */
#words-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#words-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#hero div > span {
  color: var(--red);
  font-family: 'Italiana', serif;
  font-weight: 400;
  font-size: 40px;
  text-transform: capitalize;
}

/* --- Words Positions --- */
#words-on-the-top {
  margin-top: -7.75%;
}
#words-on-the-bottom {
  margin-bottom: -7.75%;
}
#words-on-the-left {
  margin-left: -13%;
  rotate: -90deg;
}
#words-on-the-right {
  margin-right: -14.5%;
  rotate: 90deg;
}

/* --- Headline --- */
#hero div {
  position: absolute;
  background-color: lightgray;
  width: 75vw;
  height: 75vh;
  top: 12%;
  left: 12%;
}